.mainLayout {
    min-height: 100vh;
    width: 150;
    /* background-color: #2c2a38; */
    background: #ffffff;
    border: 1px solid #1e293b;
}

.menuTag {
    color: #ffffff !important;
    background-color: #020617;
    border: 1px solid #1e293b;
    margin-left: 10px;
}

.titleTag {
    color: #ffffff !important;
    background-color: #020617;
    border: 1px solid #1e293b;
    margin-left: 10px;
    font-weight: bold;
    margin-right: 10px;
}

.titleSpan {
    color: #ffffff !important;
    font-weight: bold;
    font-size: large;
}

.scriptList > .ant-menu-item {
    border-bottom: 1px solid #1e293b;
    padding-left: 15px !important;
}

.scriptList > .ant-menu-item:hover {
    background-color: #1e293b !important;
    border-radius: 0 !important;
}

.scriptList > .ant-menu-item.ant-menu-item-selected {
    background-color: #1e293b !important;
    border-radius: 0 !important;
    border-left: 4px solid #1890ff !important;
    /* padding-left: 11px !important; */
}

.ant-layout-header {
    width: 100%;
    background-color: #0f172a !important;
    border-bottom: 1px solid #1e293b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.ant-layout-content {
    width: 100%;
    background-color: #0a0e17 !important;
    border: 1px solid #1e293b;
}

.codeEditor {
    background-color: #000000 !important;
    color: #ffffff !important;
    border-radius: 0 !important;
    border: none !important;
    font-family: 'Courier New', Courier, monospace !important;
    font-size: 14px !important;
    height: 100% !important;
}

